@keyframes ldio-d69x3kitma {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.ldio-d69x3kitma div {
    left: 94.94px;
    top: 30.3px;
    position: absolute;
    animation: ldio-d69x3kitma linear 0.8333333333333334s infinite;
    background: #0a0a0a;
    width: 12.120000000000001px;
    height: 24.240000000000002px;
    border-radius: 6.0600000000000005px / 12.120000000000001px;
    transform-origin: 6.0600000000000005px 70.7px;
}

.ldio-d69x3kitma div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.8235294117647058s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(2) {
    transform: rotate(4.235294117647059deg);
    animation-delay: -0.8137254901960784s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(3) {
    transform: rotate(8.470588235294118deg);
    animation-delay: -0.803921568627451s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(4) {
    transform: rotate(12.705882352941176deg);
    animation-delay: -0.7941176470588235s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(5) {
    transform: rotate(16.941176470588236deg);
    animation-delay: -0.7843137254901961s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(6) {
    transform: rotate(21.176470588235293deg);
    animation-delay: -0.7745098039215687s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(7) {
    transform: rotate(25.41176470588235deg);
    animation-delay: -0.7647058823529411s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(8) {
    transform: rotate(29.647058823529413deg);
    animation-delay: -0.7549019607843137s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(9) {
    transform: rotate(33.88235294117647deg);
    animation-delay: -0.7450980392156863s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(10) {
    transform: rotate(38.11764705882353deg);
    animation-delay: -0.7352941176470589s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(11) {
    transform: rotate(42.35294117647059deg);
    animation-delay: -0.7254901960784313s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(12) {
    transform: rotate(46.588235294117645deg);
    animation-delay: -0.7156862745098039s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(13) {
    transform: rotate(50.8235294117647deg);
    animation-delay: -0.7058823529411765s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(14) {
    transform: rotate(55.05882352941177deg);
    animation-delay: -0.696078431372549s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(15) {
    transform: rotate(59.294117647058826deg);
    animation-delay: -0.6862745098039216s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(16) {
    transform: rotate(63.529411764705884deg);
    animation-delay: -0.6764705882352942s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(17) {
    transform: rotate(67.76470588235294deg);
    animation-delay: -0.6666666666666666s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(18) {
    transform: rotate(72deg);
    animation-delay: -0.6568627450980392s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(19) {
    transform: rotate(76.23529411764706deg);
    animation-delay: -0.6470588235294118s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(20) {
    transform: rotate(80.47058823529412deg);
    animation-delay: -0.6372549019607843s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(21) {
    transform: rotate(84.70588235294117deg);
    animation-delay: -0.6274509803921569s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(22) {
    transform: rotate(88.94117647058823deg);
    animation-delay: -0.6176470588235294s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(23) {
    transform: rotate(93.17647058823529deg);
    animation-delay: -0.6078431372549019s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(24) {
    transform: rotate(97.41176470588235deg);
    animation-delay: -0.5980392156862745s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(25) {
    transform: rotate(101.6470588235294deg);
    animation-delay: -0.5882352941176471s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(26) {
    transform: rotate(105.88235294117646deg);
    animation-delay: -0.5784313725490197s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(27) {
    transform: rotate(110.11764705882354deg);
    animation-delay: -0.5686274509803921s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(28) {
    transform: rotate(114.3529411764706deg);
    animation-delay: -0.5588235294117647s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(29) {
    transform: rotate(118.58823529411765deg);
    animation-delay: -0.5490196078431373s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(30) {
    transform: rotate(122.82352941176471deg);
    animation-delay: -0.5392156862745098s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(31) {
    transform: rotate(127.05882352941177deg);
    animation-delay: -0.5294117647058824s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(32) {
    transform: rotate(131.2941176470588deg);
    animation-delay: -0.5196078431372549s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(33) {
    transform: rotate(135.52941176470588deg);
    animation-delay: -0.5098039215686274s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(34) {
    transform: rotate(139.76470588235293deg);
    animation-delay: -0.5s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(35) {
    transform: rotate(144deg);
    animation-delay: -0.49019607843137253s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(36) {
    transform: rotate(148.23529411764707deg);
    animation-delay: -0.4803921568627451s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(37) {
    transform: rotate(152.47058823529412deg);
    animation-delay: -0.47058823529411764s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(38) {
    transform: rotate(156.7058823529412deg);
    animation-delay: -0.46078431372549017s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(39) {
    transform: rotate(160.94117647058823deg);
    animation-delay: -0.45098039215686275s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(40) {
    transform: rotate(165.1764705882353deg);
    animation-delay: -0.4411764705882353s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(41) {
    transform: rotate(169.41176470588235deg);
    animation-delay: -0.43137254901960786s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(42) {
    transform: rotate(173.64705882352942deg);
    animation-delay: -0.4215686274509804s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(43) {
    transform: rotate(177.88235294117646deg);
    animation-delay: -0.4117647058823529s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(44) {
    transform: rotate(182.11764705882354deg);
    animation-delay: -0.4019607843137255s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(45) {
    transform: rotate(186.35294117647058deg);
    animation-delay: -0.39215686274509803s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(46) {
    transform: rotate(190.58823529411765deg);
    animation-delay: -0.38235294117647056s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(47) {
    transform: rotate(194.8235294117647deg);
    animation-delay: -0.37254901960784315s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(48) {
    transform: rotate(199.05882352941177deg);
    animation-delay: -0.3627450980392157s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(49) {
    transform: rotate(203.2941176470588deg);
    animation-delay: -0.35294117647058826s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(50) {
    transform: rotate(207.52941176470588deg);
    animation-delay: -0.3431372549019608s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(51) {
    transform: rotate(211.76470588235293deg);
    animation-delay: -0.3333333333333333s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(52) {
    transform: rotate(216deg);
    animation-delay: -0.3235294117647059s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(53) {
    transform: rotate(220.23529411764707deg);
    animation-delay: -0.3137254901960784s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(54) {
    transform: rotate(224.47058823529412deg);
    animation-delay: -0.30392156862745096s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(55) {
    transform: rotate(228.7058823529412deg);
    animation-delay: -0.29411764705882354s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(56) {
    transform: rotate(232.94117647058823deg);
    animation-delay: -0.28431372549019607s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(57) {
    transform: rotate(237.1764705882353deg);
    animation-delay: -0.27450980392156865s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(58) {
    transform: rotate(241.41176470588235deg);
    animation-delay: -0.2647058823529412s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(59) {
    transform: rotate(245.64705882352942deg);
    animation-delay: -0.2549019607843137s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(60) {
    transform: rotate(249.88235294117646deg);
    animation-delay: -0.24509803921568626s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(61) {
    transform: rotate(254.11764705882354deg);
    animation-delay: -0.23529411764705882s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(62) {
    transform: rotate(258.3529411764706deg);
    animation-delay: -0.22549019607843138s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(63) {
    transform: rotate(262.5882352941176deg);
    animation-delay: -0.21568627450980393s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(64) {
    transform: rotate(266.8235294117647deg);
    animation-delay: -0.20588235294117646s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(65) {
    transform: rotate(271.05882352941177deg);
    animation-delay: -0.19607843137254902s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(66) {
    transform: rotate(275.29411764705884deg);
    animation-delay: -0.18627450980392157s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(67) {
    transform: rotate(279.52941176470586deg);
    animation-delay: -0.17647058823529413s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(68) {
    transform: rotate(283.7647058823529deg);
    animation-delay: -0.16666666666666666s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(69) {
    transform: rotate(288deg);
    animation-delay: -0.1568627450980392s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(70) {
    transform: rotate(292.2352941176471deg);
    animation-delay: -0.14705882352941177s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(71) {
    transform: rotate(296.47058823529414deg);
    animation-delay: -0.13725490196078433s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(72) {
    transform: rotate(300.70588235294116deg);
    animation-delay: -0.12745098039215685s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(73) {
    transform: rotate(304.94117647058823deg);
    animation-delay: -0.11764705882352941s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(74) {
    transform: rotate(309.1764705882353deg);
    animation-delay: -0.10784313725490197s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(75) {
    transform: rotate(313.4117647058824deg);
    animation-delay: -0.09803921568627451s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(76) {
    transform: rotate(317.6470588235294deg);
    animation-delay: -0.08823529411764706s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(77) {
    transform: rotate(321.88235294117646deg);
    animation-delay: -0.0784313725490196s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(78) {
    transform: rotate(326.11764705882354deg);
    animation-delay: -0.06862745098039216s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(79) {
    transform: rotate(330.3529411764706deg);
    animation-delay: -0.058823529411764705s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(80) {
    transform: rotate(334.5882352941176deg);
    animation-delay: -0.049019607843137254s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(81) {
    transform: rotate(338.8235294117647deg);
    animation-delay: -0.0392156862745098s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(82) {
    transform: rotate(343.05882352941177deg);
    animation-delay: -0.029411764705882353s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(83) {
    transform: rotate(347.29411764705884deg);
    animation-delay: -0.0196078431372549s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(84) {
    transform: rotate(351.52941176470586deg);
    animation-delay: -0.00980392156862745s;
    background: #0a0a0a;
}

.ldio-d69x3kitma div:nth-child(85) {
    transform: rotate(355.7647058823529deg);
    animation-delay: 0s;
    background: #0a0a0a;
}

.loadingio-spinner-spinner-ejbqhl5izho {
    width: 202px;
    height: 202px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.ldio-d69x3kitma {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.7);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-d69x3kitma div {
    box-sizing: content-box;
}