.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #adeaaf, #5e9666, #3481bd);
}

header {
  width: 100%;
}

.btn {
  composes: btn from '../../App.module.scss';

  &:hover {
    scale: none;
  }
}

.rowWrapper {
  overflow: auto;
  padding: 50px 100px;
  height: 100%;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
}

.columnWrapper {
  composes: rowWrapper;
  flex-direction: column;
}

.navPanel {
  font-size: 18px;
  padding: 10px 50px;
  border-bottom: 1px solid;
  background-color: #0000001c;
  display: flex;
  gap: 15px;

  a {
    color: #eeeaea8a;
    &:first-child {
      flex-grow: 1;
      font-weight: 800;
      color: #FFFF;
    }
    &.active {
      color: #FFFF
    }
  }
}