.layout {
  height: calc(100vh - 30px);
  padding: 15px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #adeaaf, #5e9666, #3481bd);
}

header {
  width: 100%;
}

.btn {
  composes: btn from '../../App.module.scss';

  &:hover {
    scale: none;
  }
}

.rowWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnWrapper {
  composes: rowWrapper;
  flex-direction: column;
}

.navPanel {
  display: flex;
  gap: 15px;
  justify-content: end;
}