.layout {
  height: 100vh;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
}

.userWrapper {
  height: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
}

.adminWrapper {
  composes: userWrapper;
  flex-direction: row;
  width: 70%;
}