.adminWrapper {
  composes: userMessageWrapper from '../UserPage/UserPage.module.scss';
  justify-content: space-between;
  height: 250px;
  flex-direction: row;
  width: 70%;
}

.form {
  width: 40%;
  height: -webkit-fill-available;
  background-color: rgba(190, 190, 190, 0.27);
  display: flex;
  padding: 20px 40px;
  border-radius: 15px;
  flex-direction: column;
  gap: 5px;

  h3 {
    font-size: 20pt;
    margin: 0 auto 20px;
  }
}

.btn {
  composes: btn from '../../App.module.scss';
  margin-top: auto;
  align-self: end;
  padding: 5px 10px;
  font-size: 15pt;

  &:hover {
    scale: 1.05;
  }
}

.input {
  composes: input from '../../App.module.scss';
  height: 20px;
  font-size: 12pt;
  width: -webkit-fill-available;
}

.authorizationForm {
  composes: form;
  height: 50%;
  gap: 10px
}

.loaderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}