.btn {
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }
}

.closeBnt {
  composes: btn;
  background: none;
  cursor: pointer;
  margin-left: 25px;
}

.input {
  align-self: center;
  height: 30px;
  width: 250px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.messages {
  color: black;
  padding-right: 20px;
  height: 100%;
  width: fit-content;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
}

.message {
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.keywords {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  font-weight: bold;
  gap: 15px;
  margin-left: auto;

  li {
    background-color: #d3d3d3;
    list-style-type: none;
  }
}

.noMessagesError {
  margin: auto;
  color: white;
  font-size: 20pt;
  text-align: center;
}